.form-container{
    padding: 0 1rem;
}
.form{
    max-width: 400px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
}
.form-heading{
    color: var(--primary);
}
/* button */
.form .btn{
    width: 80%;
}
.accent-btn{
    background-color: var(--accent);
}
.accent-btn:hover{
    background-color: #da1b4e;
}