.navbars{
    background-color: var(--offwhite);   
}
.brand-name{
    font-family: var(--brand);
    color: var(--primary);
}
/* search */
.search-form{
    background-color: white;
}
.search{
    padding: 0.5rem;
    outline: none;
    border: none;
}
.search-icon{
    vertical-align: middle;
    padding: 0.3rem;
}
.search-icon:hover{
    background-color: var(--primary);
    color: white;
}
.login-btn{
    background-color: var(--primary);
    color: var(--offwhite);
}
.login-btn:hover{
    background-color: var(--primary-dark);
    color: var(--offwhite);
}
@media (min-width: 768px) {
    .navbars{
        position: fixed;
        z-index: 3;
        width: 100%;
    }
}