.filters-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 2.5rem 0.5rem;
    gap: 10px;
}
.chip {
    padding: 8px 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--offwhite);
}
.active-filter{
    background-color: var(--primary);
    color: white;
}
.videos-container{
    padding:  0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
    align-items: center;
    justify-content: center;
    gap: 2rem ;   
}
/* video card */
.video-card:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}
.card{
    margin: auto;
    max-width: 320px;
    box-shadow: none;
}
.vc-image{
    width: 20rem;
    height: 11.25rem;
}
.card-content{
    margin: 0;
}
.card-content .text-sm{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.3rem;
    margin-bottom: 0;
}
.content-title,.desc{
    margin: 0 0.5rem;
}
.icons:hover{
    color:var(--accent)
}

/* details */
.details{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 0 1rem;
}
.details .text-xs{
    margin-bottom: 0.5rem;
}
/* time badge */
.time{
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.4rem;
    color: white;
    width: max-content;
    padding: 0.2rem 0.5rem 0.3rem;
}
/* action btn */
.action-btn{
    justify-content: flex-end;
    margin: 0.3rem 0.5rem;
    gap: 10px;
}

@media screen and (max-width:600px) {
    .videos-container{
        grid-template-columns: auto;
    }
    .vc-image{
        width: 100%;
        height: auto;
    }
    .chip{
        margin: 0.5rem;
    }
}