@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans&display=swap');
@import './styles/variables.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--body);
}
main{
  flex-grow: 1; 
}

/* main layout */
.app-main{
  display: flex;
  flex-direction: column;
}
.app-content{
  padding-top: 1rem;
  padding-bottom: 5rem;
}
/* media queries */
@media (min-width: 768px) {
  .app-main{
    flex-direction: row;
  }
  .app-content{
    width: calc(100% - 6rem);
    margin-left: 6rem;
    padding-top: 5rem;
    padding-bottom: 3rem; 
  }
}